body {
  background-color: rgb(15, 68, 15);
  background-image: url(https://www.golfchannel.com/sites/default/files/2020/03/19/golf_swing_stock_1920.jpg);
  background-size: cover;
}

h1 {
  color: black;
  font-size: 50px;;
  font-family: monospace;
  border: 20px;
  border-style: double;
}

h2 {
  color: crimson;
  font-family: monospace;
  font-size: 28px;
  margin: 60px;
}

form {
  color: lawngreen;
  text-align: center;
  border-style: inset;
  border-color: darkgreen;
  border-radius: 25px;
  border-width: 15px;
  padding: 12px;
}
input {
  display: block;
  margin-left: 500px;
}

h3 {
  color: black;
  flex-direction: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
